body{
	background-image: url(../Images/capabt.jpg);
	background-size: cover;
	font-size: 20px;
}

h1{

	border: 2px solid black;
	width: 350px;
	text-align: center;
	box-shadow: 4px 4px 5px black;
}

h2{

	font-family: "Times New Roman";
	
}

p{

	font-weight: bold;
	color: 
}

.container{

	display: flex;
	flex-wrap: wrap;
	
}
a{
	font-size: 25px;
	text-decoration: none;
}

img{
	height: 200px;
	width: 200px;
	margin: 10px;	
	transition: all 1s;
}

img:hover{

	transform: scale(1.1);
}