body{
	background-image: url(../Images/avengerbg.jpg);
	background-size: cover;
	/*box-shadow: 4px 4px 5px grey;*/
}	

h1{
	color: black;
	border: 1px dashed black;	
	cursor: not-allowed;
	
}

li{
	list-style: none;
	display: inline-block;
	font-size: 30px;
}